[dotenv@17.2.3] injecting env (11) from .env -- tip: ­ƒöÉ prevent committing .env to code: https://dotenvx.com/precommit
-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- CreateEnum
CREATE TYPE "public"."consulta_status_enum" AS ENUM ('scheduled', 'agendada', 'in_progress', 'finished', 'solicitada', 'cancelled');

-- CreateEnum
CREATE TYPE "public"."status_verificacao_enum" AS ENUM ('analise', 'verificado', 'recusado');

-- CreateEnum
CREATE TYPE "public"."tipo_usuario_enum" AS ENUM ('medico', 'paciente', 'admin');

-- CreateTable
CREATE TABLE "public"."consultas" (
    "id" SERIAL NOT NULL,
    "medico_id" INTEGER,
    "paciente_id" INTEGER NOT NULL,
    "status" "public"."consulta_status_enum" NOT NULL,
    "data_consulta" DATE,
    "hora_inicio" TIME(6),
    "hora_fim" TIME(6),
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,
    "resumo" TEXT,
    "repouso" TEXT,
    "destino_final" TEXT,
    "diagnostico" TEXT,
    "evolucao" TEXT,
    "plano_terapeutico" TEXT,
    "avaliacao" TEXT,
    "estrelas" INTEGER,

    CONSTRAINT "consultas_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."enderecos" (
    "id" SERIAL NOT NULL,
    "usuario_id" INTEGER NOT NULL,
    "endereco" VARCHAR(255) NOT NULL,
    "numero" VARCHAR(20),
    "complemento" VARCHAR(255),
    "bairro" VARCHAR(100),
    "cep" VARCHAR(10),
    "cidade" VARCHAR(100),
    "estado" VARCHAR(2),

    CONSTRAINT "enderecos_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."historiaClinica" (
    "id" SERIAL NOT NULL,
    "paciente_id" INTEGER NOT NULL,
    "consulta_id" INTEGER,
    "status" VARCHAR(20) NOT NULL DEFAULT 'rascunho',
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,
    "conteudo" TEXT NOT NULL,
    "antecedentes_familiares" JSONB,
    "descricao_sintomas" TEXT,
    "estilo_vida" JSONB,
    "historico_pessoal" JSONB,
    "queixa_principal" TEXT,

    CONSTRAINT "historiaClinica_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."medicos" (
    "id" SERIAL NOT NULL,
    "usuario_id" INTEGER NOT NULL,
    "nome_completo" VARCHAR(255) NOT NULL,
    "data_nascimento" DATE NOT NULL,
    "cpf" VARCHAR(14) NOT NULL,
    "sexo" VARCHAR(20),
    "crm" VARCHAR(50) NOT NULL,
    "diploma_url" VARCHAR(255),
    "especializacao_url" VARCHAR(255),
    "assinatura_digital_url" VARCHAR(255),
    "seguro_responsabilidade_url" VARCHAR(255),
    "verificacao" "public"."status_verificacao_enum" NOT NULL DEFAULT 'analise',
    "avaliacao" DOUBLE PRECISION DEFAULT 0,
    "assinatura_digital_data" BYTEA,
    "assinatura_digital_mimetype" VARCHAR(100),
    "diploma_data" BYTEA,
    "diploma_mimetype" VARCHAR(100),
    "especializacao_data" BYTEA,
    "especializacao_mimetype" VARCHAR(100),
    "seguro_responsabilidade_data" BYTEA,
    "seguro_responsabilidade_mimetype" VARCHAR(100),
    "resumo_profissional" TEXT,

    CONSTRAINT "medicos_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."pacientes" (
    "id" SERIAL NOT NULL,
    "usuario_id" INTEGER NOT NULL,
    "nome_completo" VARCHAR(255) NOT NULL,
    "data_nascimento" DATE NOT NULL,
    "cpf" VARCHAR(14) NOT NULL,
    "sexo" VARCHAR(20) NOT NULL,
    "estado_civil" VARCHAR(50) NOT NULL,
    "telefone" VARCHAR(11) NOT NULL,
    "responsavel_legal" VARCHAR(255),
    "telefone_responsavel" VARCHAR(20),
    "notas" TEXT,
    "historia_clinica" TEXT,

    CONSTRAINT "pacientes_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."prescricoes" (
    "id" SERIAL NOT NULL,
    "consulta_id" INTEGER NOT NULL,
    "medicamento" VARCHAR(255) NOT NULL,
    "marca" VARCHAR(255),
    "dosagem" TEXT NOT NULL,
    "frequencia" TEXT NOT NULL,
    "duracao" TEXT NOT NULL,
    "incluso_convenio" BOOLEAN NOT NULL DEFAULT false,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "prescricoes_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."usuarios" (
    "id" SERIAL NOT NULL,
    "email" VARCHAR(255) NOT NULL,
    "senha_hash" VARCHAR(255),
    "google_id" VARCHAR(255),
    "registro_full" BOOLEAN NOT NULL DEFAULT false,
    "tipo_usuario" "public"."tipo_usuario_enum" NOT NULL,

    CONSTRAINT "usuarios_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE INDEX "idx_consultas_medico_id" ON "public"."consultas"("medico_id" ASC);

-- CreateIndex
CREATE INDEX "idx_consultas_medico_paciente" ON "public"."consultas"("medico_id" ASC, "paciente_id" ASC);

-- CreateIndex
CREATE INDEX "idx_consultas_paciente_id" ON "public"."consultas"("paciente_id" ASC);

-- CreateIndex
CREATE INDEX "idx_historiaclinica_consulta_id" ON "public"."historiaClinica"("consulta_id" ASC);

-- CreateIndex
CREATE INDEX "idx_historiaclinica_paciente_id" ON "public"."historiaClinica"("paciente_id" ASC);

-- CreateIndex
CREATE INDEX "idx_historiaclinica_status" ON "public"."historiaClinica"("status" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "medicos_cpf_key" ON "public"."medicos"("cpf" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "medicos_usuario_id_key" ON "public"."medicos"("usuario_id" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "pacientes_cpf_key" ON "public"."pacientes"("cpf" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "pacientes_usuario_id_key" ON "public"."pacientes"("usuario_id" ASC);

-- CreateIndex
CREATE INDEX "idx_prescricoes_consulta_id" ON "public"."prescricoes"("consulta_id" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "usuarios_email_key" ON "public"."usuarios"("email" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "usuarios_google_id_key" ON "public"."usuarios"("google_id" ASC);

-- AddForeignKey
ALTER TABLE "public"."consultas" ADD CONSTRAINT "consultas_medico_id_fkey" FOREIGN KEY ("medico_id") REFERENCES "public"."medicos"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."consultas" ADD CONSTRAINT "consultas_paciente_id_fkey" FOREIGN KEY ("paciente_id") REFERENCES "public"."pacientes"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."enderecos" ADD CONSTRAINT "enderecos_usuario_id_fkey" FOREIGN KEY ("usuario_id") REFERENCES "public"."usuarios"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."historiaClinica" ADD CONSTRAINT "historiaClinica_consulta_id_fkey" FOREIGN KEY ("consulta_id") REFERENCES "public"."consultas"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."historiaClinica" ADD CONSTRAINT "historiaClinica_paciente_id_fkey" FOREIGN KEY ("paciente_id") REFERENCES "public"."pacientes"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."medicos" ADD CONSTRAINT "medicos_usuario_id_fkey" FOREIGN KEY ("usuario_id") REFERENCES "public"."usuarios"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "public"."pacientes" ADD CONSTRAINT "pacientes_usuario_id_fkey" FOREIGN KEY ("usuario_id") REFERENCES "public"."usuarios"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "public"."prescricoes" ADD CONSTRAINT "prescricoes_consulta_id_fkey" FOREIGN KEY ("consulta_id") REFERENCES "public"."consultas"("id") ON DELETE CASCADE ON UPDATE CASCADE;

